@charset "UTF-8";

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  height: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
}

.row {
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row a {
  margin: 0px 10px 0px 10px;
  display: flex;
  text-decoration: none;
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 50px;
  text-align: center;
}

.row1 {
  width: 100%;
}

.row5 {
  width: 100%;
  margin-top: 10px;

  text-align: center;
  border-radius: 10px;
}


#git {margin-left:0px; color: black;}
#insta {color: #833AB4;}
#twt {color: #00acee; margin-right:0px;}
#cp {color: #edd70e; margin-left:0px;}
#quora {color: #aa2200;}
#ulp {color: #1db954; margin-right:0px;}




.fa-envelope {
  color: #fff;
}
.row5 {
  background-color: #f20a48;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row5 a {
  width: 100%;

}

#name {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}
#tag {
  font-size: 20px;
  font-weight: 500;
  color: #545454;
  margin: 0;
}

.row1 {
  margin-bottom: 30px;
}

a:active {
  transform: translateY(3%);
}
